/*----------- ROOT & VARIABLE INITIALIZATION -------------*/
:root {
  --light-grey: #eaeeee;
  --mid-grey: #c9c7c6;
  --dark-grey: #141417;
  --accent-1: #fa8d63;
  --accent-2: #f6adcf;
  --medium-font: suisse-medium;
  --medium-italic-font: suisse-medium-italic;
  --mono-regular-font: suisse-mono-regular;
  --works-regular-font: suisse-works-regular;
  --regular-italic-font: suisse-regular-italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "suisse-medium";
  src: url("../fonts/SuisseIntl-Medium-WebTrial.woff") format("woff");
}

@font-face {
  font-family: "suisse-medium-italic";
  src: url("../fonts/SuisseIntl-MediumItalic-WebTrial.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "suisse-mono-regular";
  src: url("../fonts/SuisseIntlMono-Regular-WebTrial.woff") format("woff");
}

@font-face {
  font-family: "suisse-works-regular";
  src: url("../fonts/SuisseWorks-Regular-WebTrial.woff") format("woff");
}

@font-face {
  font-family: "suisse-regular-italic";
  src: url("../fonts/SuisseWorks-Regular-WebTrial.woff") format("woff");
  font-style: italic;
}

body {
  background-color: var(--light-grey);
}

/*----------- NAV STYLING -------------*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 70px;
  height: auto;
  margin: 10px 0px 0px 20px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 100px;
}

.navbar-list li {
  margin: 10px 20px;
  font-family: var(--mono-regular-font);
}

.navbar-list li a {
  color: var(--dark-grey);
  text-decoration: none;
}

/*----------- HERO-PAGE STYLING -------------*/

.hero-page-section {
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
}

.hero-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 125px;
}

.hero-text {
  font-family: var(--regular-italic-font);
  font-size: 3rem;
}

.sub-menu-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--light-grey);
  font-family: var(--mono-regular-font);
  height: 100px;
}

.current-menu-div {
  margin: 0px 60px;
}

.contact-menu-div {
  margin: 0px 550px 0px 30px;
}

.current-ul,
.contact-ul {
  list-style-type: none;
  color: var(--dark-grey);
}

.current-ul li,
.contact-ul li {
  font-size: 0.8rem;
  padding: 2px 0px;
}

.current-time-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-symbols-outlined {
  color: var(--dark-grey);
  margin: 0px;
  padding: 0px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

#datetime {
  font-family: sans-serif;
  margin-left: 10px;
}
